#mapView.row

  #map

#beaconView.row{ 'ng-controller' => 'BeaconShowController', style: 'display:none;'}
  .name
  .description
  .duration
  .twitter{ style: 'display: none;' }
    %a
      %image
      .name

  %button.map
    View Map
  %button.respond
    Respond

%nav.row#beaconNav{ style: 'display: none' }
  %div{ class:"col3 pull_left wrapper"}
    %a{ href: new_beacon_path, class:"ss-icon ss-crosshair inner row", id: "newBeacon"} My Beacon

  %div{ class: "col3 pull_right wrapper" }
    %a{href:"#", class:"ss-icon ss-location inner row"} Filter Beacons

