#mapView.row

  #map

#beaconView.row{ 'ng-controller' => 'BeaconShowController', style: 'display:none;'}
  %button.map
    &larr; View Map
  .name
  .description
  .duration
  %div{class:"twitter row", style: 'display: none;' }
    %a
      %img
      .twitter_name

  %div{ class:"col4 offset1"}
    %button.respond
      Connect

%nav.row#beaconNav{ style: 'display: none' }
  %div{ class:"col3 pull_left wrapper"}
    %a{ href: new_beacon_path, class:"ss-icon ss-crosshair inner row", id: "newBeacon"} My Beacon

  %div{ class: "col3 pull_right wrapper" }
    %a{href:"#", class:"ss-icon ss-location inner row"} Filter Beacons

