//buttons
button {
	background: $main-yellow;
	font-family: $main-font;
	padding: 5px 10px 5px 10px;
	border: 1px solid darken($main-yellow, 5%);
	@include border-radius($radius);
	@include transition($tranny);
	@include button-shading;
	cursor: pointer;
}
button:hover,
button:focus {
	outline: none;
	background: darken($main-yellow, 5%);
}