//layout
@media all and (max-width: 720px) {
	body {
		width: $sixCols * 6;
		margin: 0 auto;
		font-family: $main-font;
		@include border-box;
		//layout
		.col1 {
			width: $sixCols * 1;
			display: inline-block;
		}
		.col2 {
			width: $sixCols * 2;
			display: inline-block;
		}
		.col3 {
			width: $sixCols * 3;
			display: inline-block;
		}
		.col4 {
			width: $sixCols * 4;
			display: inline-block;
		}
		.col5 {
			width: $sixCols * 5;
			display: inline-block;
		}
		.col6 {
			width: $sixCols * 6;
			display: inline-block;
		}
		.offset1 {
		 margin-left: $sixCols;
		}
		.row {
			@extend .col6;
			display: block;
			overflow: hidden;
		}
		.pull_right {
			float: right;
		}
		.pull_left {
			float: left;
		}
		.wrapper {
			padding: $smallest-font $smaller-font;
		}
		.inner {
			padding: $smallest-font $smaller-font;
		}
		//end layout
		//tab bar
		nav {
			@extend .row;
			background: $main-tab-color;
			a {
				color: $wht;
			}
		}
		//end
	}
}

/*Set the width of the custom InfoWindow and the font for its contents.*/ 
.mqabasicwnd {
font:14px arial, helvetica, sans-serif;
width:210px !important;
}

/*Use CSS to place the custom 'Close' button at its desired location. Also make sure to change the width and height of the 'Close' button if it's been changed from its default size.*/ 
.mqabasicwnd-close {
top:0px !important;
right:-18px !important;
width:18px !important;
height:20px !important;
}

.mqabasicwnd-content{
	h2{
		font-size: $big-font;
		padding-bottom: 2px;
		border-bottom: 1px solid grey;
	}
	a{
		color: #1B5BA9;
	}
}