#new_beacon, .edit_beacon{
	width: 90%;
	margin: auto;
	textarea{
		width: 100%;
		font-size: $font-size;
	}
	span{
		font-size: $bigger-font;
	}

	select{
		width: 100%;
		height: 36px;
		font-size: $big-font;
	}

	button{
		margin-top: 20px;
		width: 100%;
		font-size: $big-font;
	}
}