// TYPOGRAPHY
$main-font: 'Varela', verdana, helvetica, arial, sans-serif;
$txt-shdw: 0 1px 0 rgba(0, 0, 0, .2);
//$padding: .4em .6em;

//FONT SIZING 1:1.5 perfect fifth ratio
$leading: 1.5em; //correlates to the 1:1.5 ratio for font sizing
$biggest-font: 1.898em; //30.375px //mastheads
$bigger-font: 1.5em; //24px //really big, loud stuff
$big-font: 1.266em; //20.25 //item name, user name
$font-size: 1em;
$body-font: 1em; //16px //post details, copy
$small-font: .844em; //13.5px  //small copy points
$smaller-font: .667em; //10.667 //fine print
$smallest-font: .563em; //9px //tiny copy and spacing
//END

//COLUMN WIDTH
$sixCols: 16.66666667%;

// COLOR VARIABLES
$main-grey: rgb(119, 119, 119);
$main-red: rgb(253, 65, 40);
$main-yellow: rgb(255, 206, 0);
$main-blue: rgb(72, 141, 226);
$main-green: rgb(75, 192, 75);
$twitter-blue: rgb(0, 172, 237);
$fb-blue: rgb(59, 89, 152);

$black: rgb(0,0,0);
$lt-grey: rgb(219, 219, 219);
$dk-grey: rgb(71, 71, 71);
$wht: rgb(248, 248, 248);
$white: rgb(255,255,255);

// VENDOR PREFIXES
$ff: -moz-;
$wk: -webkit-;
$ms: -ms-;
$o: -o-;

// TRANSITIONS
$tranny: all .3s ease;
@mixin transition($tranny){
  #{$ff}transition: $tranny;
  #{$wk}transition: $tranny;
  #{$o}transition: $tranny;
  #{$ms}transition: $tranny;
  transition: $tranny;
}

// BORDER RADIUS
$radius: ($body-font * .125);
@mixin border-radius($radius) {
	#{$ff}border-radius: $radius;
	#{$wk}border-radius: $radius;
	border-radius: $radius;
}

//SHADING
@mixin button-shading {
	#{$ff}box-shadow: 0 1px 0 rgba($dark-green, .5), inset 0 3px 6px rgba($white, .5);
	#{$wk}box-shadow: 0 1px 0 rgba($dark-green, .5), inset 0 3px 6px rgba($white, .5);
	box-shadow: 0 1px 0 rgba($dark-green, .5), inset 0 3px 6px rgba($white, .5);
}